USE [master]
GO
/****** Object:  Database [dbTicket]    Script Date: 21/08/2026 12:56:22 p. m. ******/
CREATE DATABASE [dbTicket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTicket', FILENAME = N'C:\Sql Server Express\MSSQL17.SQLEXPRESS\MSSQL\DATA\dbTicket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTicket_log', FILENAME = N'C:\Sql Server Express\MSSQL17.SQLEXPRESS\MSSQL\DATA\dbTicket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTicket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTicket]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 21/08/2026 12:56:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTicket] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTicket] [int] NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[Leida] [bit] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridad]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[HorasSLA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdPrioridad] [int] NOT NULL,
	[IdSolicitante] [int] NOT NULL,
	[IdAgente] [int] NULL,
	[Estado] [varchar](80) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/08/2026 12:56:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Correo] [varchar](80) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (1, N'Red')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (2, N'Hardware')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (3, N'Software')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Comentarios] ON 

INSERT [dbo].[Comentarios] ([Id], [IdTicket], [IdUsuario], [Texto], [Fecha]) VALUES (1, 1, 3, N'Se reviso el switch de la sala, se encontro un cable defectuoso.', CAST(N'2026-08-09T09:00:00.000' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [IdTicket], [IdUsuario], [Texto], [Fecha]) VALUES (2, 1, 1, N'Gracias, quedo pendiente de la solucion.', CAST(N'2026-08-09T09:10:00.000' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [IdTicket], [IdUsuario], [Texto], [Fecha]) VALUES (3, 2, 4, N'Se asigno tecnico para revision presencial.', CAST(N'2026-08-10T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comentarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificaciones] ON 

INSERT [dbo].[Notificaciones] ([Id], [IdUsuario], [IdTicket], [Mensaje], [Leida], [Fecha]) VALUES (1, 4, 3, N'Se te asignó el ticket #3: Instalar software de diseno', 1, CAST(N'2026-08-17T23:41:44.240' AS DateTime))
INSERT [dbo].[Notificaciones] ([Id], [IdUsuario], [IdTicket], [Mensaje], [Leida], [Fecha]) VALUES (2, 4, 10, N'Se te asignó el ticket #10: Mantenimiento de computos ambiente de ADSO', 1, CAST(N'2026-08-18T00:04:29.717' AS DateTime))
INSERT [dbo].[Notificaciones] ([Id], [IdUsuario], [IdTicket], [Mensaje], [Leida], [Fecha]) VALUES (3, 1, 10, N'Tu ticket está en proceso de atención.', 1, CAST(N'2026-08-18T00:06:52.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Prioridad] ON 

INSERT [dbo].[Prioridad] ([Id], [Tipo], [HorasSLA]) VALUES (1, N'BAJA', 72)
INSERT [dbo].[Prioridad] ([Id], [Tipo], [HorasSLA]) VALUES (2, N'MEDIA', 24)
INSERT [dbo].[Prioridad] ([Id], [Tipo], [HorasSLA]) VALUES (3, N'ALTA', 8)
SET IDENTITY_INSERT [dbo].[Prioridad] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [NombreRol]) VALUES (1, N'SOLICITANTE')
INSERT [dbo].[Rol] ([Id], [NombreRol]) VALUES (2, N'AGENTE')
INSERT [dbo].[Rol] ([Id], [NombreRol]) VALUES (3, N'ADMINISTRADOR')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Id], [Titulo], [Descripcion], [IdCategoria], [IdPrioridad], [IdSolicitante], [IdAgente], [Estado], [FechaCreacion]) VALUES (1, N'No hay conexion a internet en sala 3', N'Los equipos de la sala 3 no tienen acceso a la red desde esta manana.', 1, 4, 1, 3, N'EN_PROCESO', CAST(N'2026-08-09T08:15:00.000' AS DateTime))
INSERT [dbo].[Ticket] ([Id], [Titulo], [Descripcion], [IdCategoria], [IdPrioridad], [IdSolicitante], [IdAgente], [Estado], [FechaCreacion]) VALUES (2, N'Impresora no imprime', N'La impresora del laboratorio de sistemas muestra error de papel atascado.', 2, 2, 2, 4, N'NUEVO', CAST(N'2026-08-10T10:30:00.000' AS DateTime))
INSERT [dbo].[Ticket] ([Id], [Titulo], [Descripcion], [IdCategoria], [IdPrioridad], [IdSolicitante], [IdAgente], [Estado], [FechaCreacion]) VALUES (3, N'Instalar software de diseno', N'Se requiere instalar AutoCAD en los equipos del laboratorio 5.', 3, 1, 1, 3, N'ASIGNADO', CAST(N'2026-08-11T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Correo], [IdRol], [Contrasena]) VALUES (1, N'Sofia Lara', N'sofia.lara@sena.edu.co', 1, N'123')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Correo], [IdRol], [Contrasena]) VALUES (2, N'Mateo Velasquez', N'mateo.velasquez@sena.edu.co', 1, N'123')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Correo], [IdRol], [Contrasena]) VALUES (3, N'Andres Gomez', N'andres.gomez@sena.edu.co', 2, N'123')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [Fk_Comentarios_Ticket] FOREIGN KEY([IdTicket])
REFERENCES [dbo].[Ticket] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [Fk_Comentarios_Ticket]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [Fk_Comentarios_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [Fk_Comentarios_Usuario]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Ticket] FOREIGN KEY([IdTicket])
REFERENCES [dbo].[Ticket] ([Id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Ticket]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuario]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Fk_Ticket_Agente] FOREIGN KEY([IdAgente])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Fk_Ticket_Agente]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Fk_Ticket_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Fk_Ticket_Categoria]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Fk_Ticket_Prioridad] FOREIGN KEY([IdPrioridad])
REFERENCES [dbo].[Prioridad] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Fk_Ticket_Prioridad]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [Fk_Ticket_Solicitante] FOREIGN KEY([IdSolicitante])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [Fk_Ticket_Solicitante]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [Fk_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [Fk_Usuario_Rol]
GO
USE [master]
GO
